/**
*	@package saboresycolores_theme
*/


/*
	REQUEST 
	---------------------------------------------
*/
.error-page {
    background: url("../img/error.jpg") no-repeat scroll left center;
    height: 440px;
    margin: 40px 0 40px;
    padding: 60px 0;
}

.error-message{
	margin-top: 30px;
	padding: 100px 10px 0;
}