/*
		@package saboresycolores_theme
*/

/* 
	VARIABLES
	------------------------------------------------
*/

$white: #FFFFFF;
$highlight: #CE326D;
$grey_background: #FEFCFE;
$grey_copy: #BFB8BA; 
$dark_grey: #4F3D43;
$brown: #733e16;
$red: #e51c24;
$red_tone: #F20505;
$mustard: #f29600;
$orange: #F29600;
$yellow: #fbdf13;
$yellow_tone: #F2D02A;
$green: #89bf02;
$olive: #B9BF04;
$skyblue: #82B1E0;
$mustard_tone: #f09600;
